
.chat-container {
    display: flex;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  
  .user-list {
    flex: 1;
    max-width: 20%;
    font-size: 16px;
    margin-right: 30%;
  }
  
  .user-list h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .user-list li {
    padding: 15px;
    border: 2px solid #4db8ff;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .user-list li:hover {
    background-color: #4db8ff;
    color: #fff;
  }
  
  .chat-area {
    flex: 3;
    max-width: 80%;
  }
  
  .chat-area h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Estilos responsivos para pantallas pequeñas */
  @media screen and (max-width: 600px) {
    .chat-container {
      flex-direction: column; /* Cambia la dirección del flex para apilar elementos */
    }
  
    .user-list {
      max-width: 100%;
      margin-right: 0;
    }
  
    .chat-area {
      max-width: 100%;
    }
  }